:root {
  --width: 1400px;
}

/* Style dla paska z aplikacjami */
.intranet-bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background-color: #3a3a35;
  color: white;
  font-size: 14px;
}

.intranet-bar svg path {
  fill: white;
}

.intranet-bar strong {
  font-weight: 700;
}

.intranet-bar-content {
  width: var(--width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intranet-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.intranet-container a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.intranet-container a:hover {
  text-decoration: underline;
}

.intranet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.intranet-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.mobile-dropdown {
  position: relative;
  z-index: 1;
}

.mobile-dropdown-content {
  display: flex;
  gap: 20px;
}

.mobile-chevron {
  display: none;
}

@media screen and (max-width: 1000px) {
  .mobile-chevron {
    display: inline;
  }

  .mobile-dropdown > strong {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .mobile-dropdown-content {
    z-index: -1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 20px;
    left: -20px;
    background-color: #3a3a35;
    padding: 20px;
    min-width: calc(100% + 40px);
    max-width: max-content;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transform: translateY(-20px);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  .mobile-dropdown:hover .mobile-dropdown-content {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
    user-select: unset;
  }
}
