/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/open-sans-v27-latin-ext_latin-regular.woff2') format('woff2'), url('../fonts/open-sans-v27-latin-ext_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-500 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/open-sans-v27-latin-ext_latin-500.woff2') format('woff2'), url('../fonts/open-sans-v27-latin-ext_latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/open-sans-v27-latin-ext_latin-600.woff2') format('woff2'), url('../fonts/open-sans-v27-latin-ext_latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/open-sans-v27-latin-ext_latin-700.woff2') format('woff2'), url('../fonts/open-sans-v27-latin-ext_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
  color: #1e1e1e;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: 14px;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --width: 1400px;
  --primary-color: #1159e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.page-header {
  background-color: #585858;
  padding: 40px 0;
}

.page-header-content {
  width: var(--width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
}

main {
  width: var(--width);
  margin: 0 auto;
}

.elements-list {
  width: 100%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.quiz-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.quiz-container .buttons-container {
  align-self: flex-end;
}

.quiz-container header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.quiz-container h2 {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.quiz-container h2 span {
  align-self: flex-start;
}

.quiz-container small,
.quiz-container h2 > span {
  color: #585858 !important;
  font-weight: 500;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
}

.action-button {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.action-button:not(.disabled):hover {
  opacity: 0.98;
}

.action-button:not(.disabled):active {
  transform: scale(0.98);
}

.action-button.primary {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: white;
}

.action-button.secondary {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.action-button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.action-button.icon.primary svg path {
  fill: white;
}

.action-button.icon.secondary svg path {
  fill: var(--primary-color);
}

.action-button.disabled {
  background-color: #a9a9a9;
  border: 2px solid #a9a9a9;
  color: white;
  cursor: not-allowed;
}

.question-element {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

.question-element h2 > span {
  color: #585858 !important;
  font-weight: 500;
  margin-right: 10px;
}

.question-answers {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.custom-checkbox,
.custom-radio {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: max-content;
}

.custom-checkbox input,
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  width: 20px;
  height: 20px;
  position: relative;
}

.radio::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 10px;
  opacity: 0;
}

.custom-radio:hover input ~ .radio {
  opacity: 0.9;
}

.custom-radio input:checked ~ .radio {
  background-color: var(--primary-color);
}

.custom-radio input:checked ~ .radio::before {
  opacity: 1;
}

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
}

.custom-checkbox:hover input ~ .checkmark {
  opacity: 0.9;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.custom-checkbox .checkmark svg {
  opacity: 0;
}

.custom-checkbox input:checked ~ .checkmark svg {
  opacity: 1;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #6a6c72;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.progress-indicator {
  width: 10%;
  height: 10px;
  background-color: var(--primary-color);
  display: block;
  transition: width 0.4s ease;
}

.quiz-section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.quiz-section-header h3 {
  font-size: 32px;
}

@media screen and (max-width: 1000px) {
  :root {
    --width: calc(100% - 40px);
  }

  .quiz-section-header {
    justify-content: center;
    align-items: center;
  }

  .page-header-content {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .quiz-section-header h3 {
    font-size: 26px;
  }

  .question-element h2 {
    font-size: 20px;
  }

  .page-header-content h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  :root {
    --width: 900px;
  }

  .page-header-content {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
  :root {
    --width: 1200px;
  }
}
